<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <h2 class="float-sm-start">Text Me Doggos!</h2>
    </header>

    <div class="px-3">
        <h1>Ooops! Our records show that you have already signed up.</h1>
        <h5>If you think this is in error, please email tsrackow@gmail.com</h5>
        <h6>Additionally, we appologize for only supporting U.S based numbers.</h6>
        <form action="/" method="get">
            <button class="btn btn-lg btn-dark fw-bold border-white bg-black">Try
                Again</button>
        </form>
    </div>

    <footer class="mt-auto text-white-50">

    </footer>

</div>