<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <h2 class="float-sm-start">Text Me Doggos!</h2>
    </header>

    <!-- <div class="px-3"> -->
    <h1>Your source for instant doggo pics. <br>Delivered directly to your phone.</h1>
    <form action="/" method="post">
        <input type="text" name="p" placeholder="###-###-####" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
        <button type="submit" class="btn btn-lg btn-dark fw-bold border-white bg-black" name="submit" >Fetch</button>
    </form>
    <!-- </div> -->

    <footer class="mt-auto text-white-50">

    </footer>

</div>
